html, body {
      margin: 0;
      padding: 0;
      font-family: Montserrat;
    }

    @font-face {
        font-family: Montserrat;
        src: url(fonts/Montserrat-Bold.ttf);
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 0px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

/* HEADER CSS */

.wrapper { 
    padding: 20px 20px 0 0;
    width: 1310px; 
    overflow: hidden;
    margin: 0 auto; 
}

ul li { list-style:none; }

.logo { 
    width:100%; 
    max-width:190px; 
    max-height:114px; 
    }
.header { 
    margin-bottom:10px; 
    width: 1420px;
    padding-left: 60px;
    
}
.headerBorder { border-right:2px solid #343E4A; padding-top: 10px; padding-bottom: 10px; }


.headerInfo { margin:0 auto; color:#fff; width: 80%;}
.headerInfo h3 { text-align: left; font-weight:bold; font-size: 14px; margin: 6px 0 0 0; text-transform: uppercase; line-height: 20px;}
.headerInfo span { font-size: 12px; color:#0B9CDD; }
.headerInfo img { float:right; width:60px; }

.headerRow{
       height: 90%;
    
    padding-top: 20px;
    width: 100%;
}

.iconCol {
    width: 220px;
    padding: 15px 10px;
}

.sunicon {
    padding-right: 16px
}

.rightNowCol{
    width: 550px;
}

.currentDateTime{
    padding-top: 2px;
}

.distanceCol{
    width: 550px;
}

.travelTime{
    padding-top: 2px;
}

/* END OF HEADER CSS */

/* custom CSS code for restructuring tiles */

    .left {
        float: left;
    }

    .cyangreen{
        background-color: #34C5B6;    
    }

    .darkblue{
        background-color: #1C3150;
    }

    .lightblue {
        background: #009ADA;
    }

    .coffee{
        background: #EAAD80
    }    

    .squareTile .firstTileText{
        text-transform: capitalize;
        margin-bottom: 5%;
        width: 196px;
        
        margin-left: auto;
        margin-right: auto;
    }

    .rectangleTile .firstTileText{
        text-transform: capitalize;
        margin-bottom: 5%;
        width: 196px;
        text-align: center;
        padding-left: 5px;
        margin-left: auto;
        margin-right: auto;
    }


    .firstTileLocationText{
        font-size: 26px;
        margin-left: 2%;
        margin-bottom: 1%;
        width: 160px;
    }

    .firstTileMainText{
        font-size: 3.4em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .firstTileSubText{
        text-align: center;
        font-size: 20px;
    }

    .tileRow{
    	height: 195px;
        width: 1055px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tileRow .squareTile{
        /*width: 21.2%;*/
        
        padding: 2%;
        width: 225px;
        height: 170px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .tileRow .doubleTile{
        padding: 3%;
        width: 500px;
        height: 170px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .tileRow .minisquareTile{
        width: 95px;
        height: 70px;
            margin-right: 5px;
    margin-left: 5px;
    }

    .tileRow .customSquareTile{
        padding: 1% !important;
    }

    .tileRow .minisquareTile .heading{
        font-size: 8px;
        margin-bottom: 7px;
        margin-top: 10px;
    }

    .tileRow .minisquareTile > .text{
        font-size: 8px;
    }

    .tileRow .minisquareTile .mainText{
        font-size: 25px;
    }

    .tileRow .minisquareTile .mainIcon{
        width: 38%;
        height: 40%;
            margin-left: 30px !important;
        margin-top: 5px !important;
    }

    .tileRow .minisquareTile .arrowIcon{
        width: 19%;
        float: right;
        margin-right: 4px !important;
        margin-top: 5px !important;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin: auto !important;
    }
    
    .tileRow .rectangleTile{
        /*width: 21.2%;*/
        
        padding: 2px;
        width: 215px;
        height: 80px;
        margin-right: 15px;
        margin-left: 10px;
        margin-bottom: 5px;
    }


    .tileRow .listTile{
        
        width: 225px;
        height: 170px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 21px;
    }

    .listTile li{
        margin-top: 10px;
        margin-bottom: 15px;
        list-style-type: disc;
    }
     .tileRow .imageTile{
        width: 225px;
        height: 170px;
        margin-right: 15px;
        margin-left: 15px;
    }

     .tileRow .imageTile img{
        width: 100%;
        height: 100%;
        margin: 0px 0px !important;


    }

    .tileRow .squareTile:first-of-type{
        margin-left: 15px;
    }

    .tileRow .squareTile:last-of-type{
        margin-right: 10px;
    }

    .squareTile .mapIcon{
        width: 20px;
        margin-left: 10px !important;
        margin-top: 3% !important;
    }

    .squareTile .smallHeading{
        font-size: 14px;
        margin-top: 7px;
    }

    .doubleTile .smallHeading{
        font-size: 10px;
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .squareTile .largeText{
        font-size: 5em;
    }
    
    .doubleTile .largeText{
        font-size: 21px;
        text-transform: none !important;
    }

    .marginBottom10{
        margin-bottom: 10px
    }

    .marginBottom{
        margin-bottom: 5px;
    }


    .centerAlign{
        text-align: center;
    }

    .rectangleTile .mapIcon{
        width: 14px;
        margin-left: 3px !important;
        margin-top: 3% !important;
    }

    .rectangleTile .firstTileLocationText{
        font-size: 20px;
        /*width: 12px;*/
        margin-left: -9px;
        margin-top: 1px;
    }
    .rectangleTile .tileMainText{
        float: right;
        padding-right: 8px;
        padding-top: 6px;
    }

    .rectangleTile .soloText{
            font-size: 34px;
    padding: 5% 1px;
    }

    .squareTile > .content{
    	padding: 40%;
    	font-weight: bolder;
    	font-size: 4em;
    	color: white;
    }

	.squareTile > .small{
        padding: 37%;
        color: white;
    }

    .marqueeDiv{
            bottom: 0px;
    position: absolute;
    height: 55px;
    width: 1350px;
        background: #223041;
    }

    .marqueeDiv span{
        height: 95%;
        margin-left: 20px;
        margin: 0px 0px;
        /*padding: 25px 2px;*/
    }

    .marquee {
      width: 960px;
      overflow: hidden;
      border: 1px solid #ccc;
      background: #ccc;
      margin-left: 5px;
    }

     .marqueeDiv span{
       padding-left: 2%;
        padding-top: 1%;
    }

    .marqueeDiv .label {
        width: 15%;
            /*padding-left: 2%;
    padding-top: 1%;*/
    }

    .marqueeDiv .marquee {
        width: 85%;
        padding-left: 5%;
    }


    