html, body {
      margin: 0;
      padding: 0;
      font-family: Montserrat;
    }

    @font-face {
        font-family: Montserrat;
        src: url(fonts/Montserrat-Bold.ttf);
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 0px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

/* HEADER CSS */

.wrapper { 
    padding: 20px 20px 0 0;
    width: 1310px; 
    overflow: hidden;
    margin: 0 auto; 
}

ul li { list-style:none; }

.logo { 
    width:100%; 
    max-width:190px; 
    max-height:114px; 
    }
.header { 
    margin-bottom:10px; 
    width: 1420px;
    padding-left: 60px;
    
}
.headerBorder { border-right:2px solid #343E4A; padding-top: 10px; padding-bottom: 10px; }


.headerInfo { margin:0 auto; color:#fff; width: 80%;}
.headerInfo h3 { text-align: left; font-weight:bold; font-size: 14px; margin: 6px 0 0 0; text-transform: uppercase; line-height: 20px;}
.headerInfo span { font-size: 12px; color:#0B9CDD; }
.headerInfo img { float:right; width:60px; }

.headerRow{
       height: 90%;
    
    padding-top: 20px;
    width: 100%;
}

.iconCol {
    width: 220px;
    padding: 15px 10px;
}

.sunicon {
    padding-right: 16px
}

.rightNowCol{
    width: 550px;
}

.currentDateTime{
    padding-top: 2px;
}

.distanceCol{
    width: 550px;
}

.travelTime{
    padding-top: 2px;
}

/* END OF HEADER CSS */

/* custom CSS code for restructuring tiles */

    .left {
        float: left;
    }

    .cyangreen{
        background-color: #34C5B6;    
    }

    .darkblue{
        background-color: #1C3150;
    }

    .lightblue {
        background: #009ADA;
    }
    

    .squareTile .firstTileText{
        text-transform: capitalize;
        margin-bottom: 5%;
        width: 196px;
        
        margin-left: auto;
        margin-right: auto;
    }

    .rectangleTile .firstTileText{
        text-transform: capitalize;
        margin-bottom: 5%;
        width: 196px;
        text-align: center;
        padding-left: 5px;
        margin-left: auto;
        margin-right: auto;
    }


    .firstTileLocationText{
        font-size: 26px;
        margin-left: 2%;
        margin-bottom: 1%;
        width: 160px;
    }

    .firstTileMainText{
        font-size: 3.4em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .firstTileSubText{
        text-align: center;
        font-size: 20px;
    }

    .tileRow{
    	height: 195px;
        width: 1055px;
        margin: 0 auto;
    }

    .tileRow .squareTile{
        /*width: 21.2%;*/
        
        padding: 2%;
        width: 235px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .tileRow .rectangleTile{
        /*width: 21.2%;*/
        
        padding: 2px;
        width: 235px;
        height: 80px;
        margin-right: 15px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .tileRow .squareTile:first-of-type{
        margin-left: 15px;
    }

    .tileRow .squareTile:last-of-type{
        margin-right: 10px;
    }

    .squareTile .mapIcon{
        width: 20px;
        margin-left: 10px !important;
        margin-top: 3% !important;
    }

    .rectangleTile .mapIcon{
        width: 14px;
        margin-left: 3px !important;
        margin-top: 3% !important;
    }

    .rectangleTile .firstTileLocationText{
        font-size: 20px;
        /*width: 12px;*/
        margin-left: -9px;
        margin-top: 1px;
    }
    .rectangleTile .tileMainText{
        float: right;
        padding-right: 8px;
        padding-top: 6px;
    }

    .squareTile > .content{
    	padding: 40%;
    	font-weight: bolder;
    	font-size: 4em;
    	color: white;
    }

	.squareTile > .small{
        padding: 37%;
        color: white;
    }

    